
<div class="sidebar">
	<div class="side-logo">
		<h1> silent.club </h1>
	</div>
	<div >
		<a class="createroom" href="#">+ create a new room</a>
	</div>
	<div class="create">
	  <%= form_for(@room) do |f| %>
		  <%= f.label :title%>
		  <%= f.text_field :title%><br>
		  <%= f.label :description %>
		  <%= f.text_field :description%><br>
		  <%= f.label :youtube %>
		  <%= f.text_field :youtube_url%><br>
		  <%= f.hidden_field :lat, class: "hidelat" %>
		  <%= f.hidden_field :lng, class: "hidelng"%>
		  <%= f.submit %>
		<% end %>
	</div>
	<div>
		<ul id="locations">
			<% @tenrooms.each do |room| %>
			<li><%= room.title%></li>
			<%end%>
		</ul>
	</div>
</div>

<div class="rooms">

</div>