<!DOCTYPE html>
<html>
<head>
  <title>Shhhh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript" charset="utf-8">

    window.pusher = new Pusher("<%= Pusher.key %>", {
      authTransport: 'jsonp',
      authEndpoint: "<%= pusher_auth_url %>"
    });

  </script>
  <script src="https://connect.soundcloud.com/sdk.js"></script>
  <script>
    SC.initialize({
      client_id: "<%= ENV['soundcloud_id'] %>"
    });
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id=<%= params[:controller] %> class=<%= params[:action] %>>


<!-- <%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %> -->
<!-- <%= link_to 'Sound Cloud Connect', user_omniauth_authorize_path(:soundcloud) %>-->


<%= yield %>



</body>
</html>
