<!DOCTYPE html>
<html>
<head>
  <title>TheSilent.club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript" charset="utf-8">

    window.pusher = new Pusher("<%= Pusher.key %>", {
      authTransport: 'jsonp',
      authEndpoint: "<%= pusher_auth_url %>"
    });

  </script>
  <script src="https://connect.soundcloud.com/sdk.js"></script>
  <script>
    SC.initialize({
      client_id: "<%= ENV['soundcloud_id'] %>"
    });
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id=<%= params[:controller] %> class=<%= params[:action] %>>


<!-- <%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %> -->
<!-- <%= link_to 'Sound Cloud Connect', user_omniauth_authorize_path(:soundcloud) %>-->


<%= yield %>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $.ajaxSetup({ cache: true });
    $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
      FB.init({
        appId: "<%= ENV['facebook_id'] %>",
        version: 'v2.3' // or v2.0, v2.1, v2.0
      });
      $('#loginbutton,#feedbutton').removeAttr('disabled');
    });

    facebookLogin = function(){
      FB.login(function(response) {
        if (response.authResponse) {
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me', function(response) {
            console.log('Good to see you, ' + response.name + '.');
          });
          console.log('Connected! Hitting OmniAuth callback (GET users/auth/facebook/callback)...')
          // since we have cookies enabled, this request will allow omniauth to parse
          // out the auth code from the signed request in the fbsr_XXX cookie
          $.getJSON('users/auth/facebook/callback', function(json) {
            console.log('Connected! Callback complete.');
            console.log(JSON.stringify(json));
          });
        } else {
          console.log('User cancelled login or did not fully authorize.');
        }
      });

    }

  });
</script>
</body>
</html>
